In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf

2022-06-25 11:52:26.107735: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-25 11:52:26.107762: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import BinaryCrossentropy

In [3]:
train = pd.read_csv('../titanic-raw/train.csv')
test = pd.read_csv('../titanic-raw/test.csv')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train.shape , test.shape

((891, 12), (418, 11))

In [7]:
print(list(train.columns))

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [8]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [12]:
#fixing train_data

train2 = train.copy()
train2['Age'] = train2['Age'].replace(np.NAN, train2['Age'].mean())
train['Age'].mean() , train2['Age'].mean()
train2['Cabin'] = train2['Cabin'].replace(np.NAN, 'XX')
train2['Cabin'].value_counts()
train2['Embarked'] = train2['Embarked'].replace(np.NAN, 'YY')
train2['Embarked'].value_counts()
train2.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [13]:
#cleaning test data

test2 = test.copy()
test2['Age'] = test2['Age'].replace(np.NAN, test2['Age'].mean())
test['Age'].mean() , test2['Age'].mean()
test2['Cabin'] = test2['Cabin'].replace(np.NAN, 'XX')
test2['Cabin'].value_counts(dropna = False)
test2['Fare'] = test2['Fare'].replace(np.NAN, test2['Fare'].mean())
test['Fare'].mean() , test2['Fare'].mean()
test2.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [14]:
trainLM = train2.copy()
testLM = test2.copy()

In [15]:
trainLM.Sex.value_counts()

m1 = {'male':0, 'female':1}
trainLM['Sex'] = trainLM['Sex'].map(m1)
testLM['Sex'] = testLM['Sex'].map(m1) 

# note : running this snippet 2nd time creates NaN value
print(trainLM['Sex'].value_counts())
testLM['Sex'].value_counts()
trainLM.dtypes
testLM.dtypes
trainLM2 = trainLM.iloc[:, [1,2,4,5,6,7,9,]]
print(trainLM2)

0    577
1    314
Name: Sex, dtype: int64
     Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0           0       3    0  22.000000      1      0   7.2500
1           1       1    1  38.000000      1      0  71.2833
2           1       3    1  26.000000      0      0   7.9250
3           1       1    1  35.000000      1      0  53.1000
4           0       3    0  35.000000      0      0   8.0500
..        ...     ...  ...        ...    ...    ...      ...
886         0       2    0  27.000000      0      0  13.0000
887         1       1    1  19.000000      0      0  30.0000
888         0       3    1  29.699118      1      2  23.4500
889         1       1    0  26.000000      0      0  30.0000
890         0       3    0  32.000000      0      0   7.7500

[891 rows x 7 columns]

In [16]:
trainLM2.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [17]:
testLM2 = testLM.iloc[:, [1,3,4,5,6,8]]

In [18]:
#K time to prep train data for neural network
X=tf.convert_to_tensor(trainLM2.drop('Survived',axis=1))
Y=tf.convert_to_tensor(trainLM2['Survived'])

2022-06-25 11:52:27.632366: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-06-25 11:52:27.632393: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-06-25 11:52:27.632417: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (CoderCatA5Pop): /proc/driver/nvidia/version does not exist
2022-06-25 11:52:27.632761: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [19]:
type(X)

tensorflow.python.framework.ops.EagerTensor

In [20]:
X

<tf.Tensor: shape=(891, 6), dtype=float64, numpy=
array([[ 3.        ,  0.        , 22.        ,  1.        ,  0.        ,
         7.25      ],
       [ 1.        ,  1.        , 38.        ,  1.        ,  0.        ,
        71.2833    ],
       [ 3.        ,  1.        , 26.        ,  0.        ,  0.        ,
         7.925     ],
       ...,
       [ 3.        ,  1.        , 29.69911765,  1.        ,  2.        ,
        23.45      ],
       [ 1.        ,  0.        , 26.        ,  0.        ,  0.        ,
        30.        ],
       [ 3.        ,  0.        , 32.        ,  0.        ,  0.        ,
         7.75      ]])>

In [21]:
normalizer = tf.keras.layers.Normalization(axis=-1)
normalizer.adapt(X)

In [22]:
#making our model

model=Sequential([
      normalizer,
      tf.keras.layers.Input(shape=(6,)),
      Dense(units=25,activation="relu"),
      Dense(units=15,activation="relu"),
      Dense(units=5,activation="relu"),
      Dense(units=1,activation="sigmoid"),
      

  ])
model.compile(loss=BinaryCrossentropy(),
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.0001),
    metrics=[
        tf.keras.metrics.BinaryAccuracy(name='accuracy')
    ])

In [23]:
import gc
class EvalCallback(tf.keras.callbacks.Callback):
    def __init__(self):
       pass

    def on_epoch_end(self, epoch: int, logs=None):
        gc.collect()
        tf.keras.backend.clear_session()

In [24]:
model.fit(X,Y,epochs=100000,verbose=0)

In [25]:
gc.collect()
tf.keras.backend.clear_session()

In [26]:
X_test=tf.convert_to_tensor(testLM2)
Y_pred=model.predict(X_test)

In [27]:
Y_pred.shape

(418, 1)

In [28]:
Y_pred

array([[9.10714269e-03],
       [4.24554012e-12],
       [2.29208469e-02],
       [1.81737930e-01],
       [9.99994576e-01],
       [9.89074111e-02],
       [2.58623242e-01],
       [3.45339208e-15],
       [4.78356898e-01],
       [1.59230828e-03],
       [5.74368536e-02],
       [3.20393652e-01],
       [1.00000000e+00],
       [0.00000000e+00],
       [1.00000000e+00],
       [9.99917626e-01],
       [2.65985847e-01],
       [4.40859497e-02],
       [4.01534089e-06],
       [1.38806291e-08],
       [4.89321066e-15],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [7.22262549e-30],
       [1.00000000e+00],
       [7.79809356e-02],
       [5.73586822e-01],
       [7.38716424e-02],
       [1.74515357e-38],
       [3.52795448e-32],
       [9.95010138e-04],
       [1.76047683e-02],
       [7.13442028e-01],
       [7.80641735e-02],
       [1.06708825e-01],
       [3.27853531e-01],
       [5.67526519e-02],
       [9.21296954e-01],
       [4.53096618e-18],
       [1.38654411e-02],
       [5.69985807e-02],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.32946342e-01],
       [1.60524666e-01],
       [4.00182605e-02],
       [1.00000000e+00],
       [2.34224686e-07],
       [1.00000000e+00],
       [3.41016054e-03],
       [1.00000000e+00],
       [2.85562987e-06],
       [3.33541334e-02],
       [0.00000000e+00],
       [1.31634176e-02],
       [1.52929395e-01],
       [1.71062314e-11],
       [1.00000000e+00],
       [6.63216412e-02],
       [3.28373909e-01],
       [7.27048516e-02],
       [7.29760468e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.40580332e-01],
       [1.49741769e-02],
       [9.75844026e-01],
       [0.00000000e+00],
       [3.37365240e-01],
       [3.00332308e-02],
       [6.58048391e-01],
       [8.14290226e-01],
       [1.00000000e+00],
       [0.00000000e+00],
       [8.34499598e-02],
       [1.00000000e+00],
       [3.27755392e-01],
       [3.37365240e-01],
       [1.00000000e+00],
       [6.75165366e-20],
       [1.00000000e+00],
       [5.74368536e-02],
       [6.66767359e-04],
       [1.68363587e-12],
       [7.64037967e-01],
       [5.56803823e-01],
       [9.94591713e-02],
       [1.00000000e+00],
       [2.16910928e-01],
       [4.25949693e-02],
       [1.00000000e+00],
       [8.34499598e-02],
       [9.99994755e-01],
       [1.42045259e-01],
       [1.00000000e+00],
       [1.52769327e-01],
       [3.11490595e-01],
       [1.90678239e-03],
       [1.00000000e+00],
       [7.84203712e-06],
       [4.00182605e-02],
       [2.00723559e-01],
       [9.99999762e-01],
       [2.51887788e-10],
       [3.13587189e-02],
       [4.00182605e-02],
       [3.38227868e-01],
       [6.12217188e-03],
       [4.27341461e-03],
       [9.92101133e-02],
       [1.00000000e+00],
       [3.93907547e-01],
       [1.00000000e+00],
       [9.99409318e-01],
       [3.38256061e-02],
       [9.99999702e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [4.87418786e-12],
       [1.00000000e+00],
       [2.12342381e-01],
       [4.00182605e-02],
       [2.64769793e-03],
       [4.69191074e-02],
       [9.99983549e-01],
       [4.55454111e-01],
       [8.67730677e-02],
       [3.82671416e-01],
       [9.73492742e-01],
       [3.09447953e-11],
       [1.60309682e-11],
       [1.13258272e-01],
       [9.64419544e-02],
       [2.98812002e-01],
       [3.41935021e-07],
       [3.36804122e-01],
       [2.41319696e-27],
       [0.00000000e+00],
       [1.00000000e+00],
       [7.27528093e-10],
       [1.46753109e-07],
       [4.71894115e-01],
       [3.11789069e-24],
       [2.92831115e-09],
       [4.06110585e-02],
       [1.38654411e-02],
       [8.06740483e-18],
       [1.00000000e+00],
       [5.74368536e-02],
       [1.16150692e-17],
       [7.88799970e-10],
       [0.00000000e+00],
       [1.13377571e-01],
       [1.00000000e+00],
       [4.69006151e-01],
       [4.71893638e-01],
       [1.00000000e+00],
       [9.96012986e-02],
       [1.00000000e+00],
       [9.86170053e-01],
       [3.42601240e-02],
       [1.54119104e-01],
       [2.22811699e-02],
       [5.38092445e-06],
       [3.20981233e-18],
       [1.00000000e+00],
       [8.23129117e-02],
       [3.46906483e-02],
       [3.42807055e-01],
       [6.90063357e-01],
       [3.44389081e-02],
       [1.50910432e-26],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.69995012e-19],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.27755392e-01],
       [2.92633474e-02],
       [1.00000000e+00],
       [4.00182605e-02],
       [1.00000000e+00],
       [1.72495842e-04],
       [1.00000000e+00],
       [7.22290395e-07],
       [0.00000000e+00],
       [5.14162481e-02],
       [3.15740705e-03],
       [1.20657980e-02],
       [1.39116347e-02],
       [4.91304338e-01],
       [1.00000000e+00],
       [1.41364336e-03],
       [9.24723387e-01],
       [5.30641139e-01],
       [2.43588383e-05],
       [1.14112020e-01],
       [9.84296083e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.40535672e-09],
       [8.65885615e-03],
       [7.75336325e-02],
       [1.85021420e-07],
       [1.00000000e+00],
       [1.34958506e-01],
       [3.39393296e-06],
       [3.42990458e-02],
       [9.06010844e-21],
       [1.00000000e+00],
       [5.34016165e-09],
       [2.41537208e-07],
       [9.83608365e-02],
       [4.16218329e-13],
       [1.00000000e+00],
       [8.34499598e-02],
       [9.68666315e-01],
       [2.74771452e-02],
       [9.99783754e-01],
       [3.18132639e-02],
       [1.38844252e-02],
       [7.60012865e-03],
       [6.86899126e-02],
       [9.94591713e-02],
       [8.56954921e-06],
       [2.77984440e-02],
       [3.71710848e-23],
       [1.00000000e+00],
       [1.16371781e-01],
       [5.51414490e-02],
       [2.83711529e-07],
       [4.60339785e-02],
       [3.49873993e-12],
       [1.86491579e-01],
       [1.00000000e+00],
       [1.00000000e+00],
       [9.99991179e-01],
       [9.99995947e-01],
       [8.25022340e-01],
       [5.62785268e-02],
       [1.24007463e-04],
       [4.40222383e-01],
       [1.00000000e+00],
       [3.45214246e-29],
       [1.00000000e+00],
       [3.14225525e-01],
       [1.00000000e+00],
       [3.82055044e-02],
       [1.00000000e+00],
       [4.26566303e-02],
       [1.35108829e-03],
       [3.46907377e-02],
       [4.00182605e-02],
       [1.47275627e-01],
       [1.00000000e+00],
       [3.21954191e-02],
       [3.40221007e-17],
       [3.07618678e-02],
       [1.00000000e+00],
       [9.99726295e-01],
       [1.74949557e-01],
       [5.74368536e-02],
       [3.14008134e-23],
       [3.46906483e-02],
       [1.06708825e-01],
       [6.31588399e-02],
       [6.32850503e-19],
       [4.00182605e-02],
       [1.00000000e+00],
       [4.63244706e-01],
       [3.44355404e-02],
       [9.99992788e-01],
       [7.34140713e-07],
       [1.31290965e-18],
       [6.57835305e-02],
       [3.67760658e-04],
       [8.25009942e-02],
       [1.00000000e+00],
       [9.94591713e-02],
       [9.09775496e-03],
       [1.00000000e+00],
       [1.11006796e-02],
       [3.44557762e-02],
       [8.28236938e-02],
       [3.44389081e-02],
       [8.34499598e-02],
       [3.09757002e-06],
       [8.30749154e-01],
       [3.44389081e-02],
       [7.45710104e-15],
       [6.90567493e-03],
       [1.89460814e-01],
       [1.00000000e+00],
       [7.38716424e-02],
       [3.04923808e-10],
       [1.54877752e-01],
       [2.89749235e-01],
       [1.09791279e-01],
       [4.60510840e-34],
       [6.19495511e-02],
       [9.94591713e-02],
       [1.00000000e+00],
       [9.99881864e-01],
       [1.00000000e+00],
       [2.17370871e-06],
       [5.96165657e-04],
       [9.67812538e-02],
       [6.46313131e-02],
       [3.47101688e-02],
       [1.91646814e-03],
       [1.00000000e+00],
       [6.97793484e-01],
       [1.09276525e-10],
       [4.21640545e-01],
       [2.64146388e-01],
       [4.36620589e-33],
       [2.00723559e-01],
       [1.88177556e-01],
       [3.41935021e-07],
       [9.99014139e-01],
       [1.00000000e+00],
       [1.03028238e-01],
       [1.00000000e+00],
       [5.61356591e-21],
       [4.69565392e-04],
       [1.50293112e-04],
       [9.99520659e-01],
       [8.68708253e-01],
       [3.44355404e-02],
       [9.99985099e-01],
       [2.59370744e-01],
       [4.83110249e-02],
       [5.81241250e-01],
       [3.82029214e-25],
       [1.05653060e-08],
       [3.44389081e-02],
       [1.41180724e-01],
       [2.06619501e-01],
       [0.00000000e+00],
       [1.32429659e-01],
       [9.82238770e-01],
       [8.34217787e-01],
       [3.41935021e-07],
       [7.31847249e-05],
       [9.31654398e-09],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.40535406e-09],
       [6.13443866e-16],
       [8.51345969e-28],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [5.51414490e-02],
       [4.00182605e-02],
       [6.77276552e-01],
       [0.00000000e+00],
       [1.00000000e+00],
       [1.00000000e+00],
       [1.81737930e-01],
       [1.00000000e+00],
       [1.44669912e-06],
       [1.69338133e-12],
       [1.97236240e-01],
       [1.00000000e+00],
       [2.05785215e-01],
       [5.77199459e-03],
       [1.00000000e+00],
       [6.01513982e-02],
       [2.26676464e-04],
       [1.00000000e+00],
       [1.00000000e+00],
       [3.46679376e-20],
       [1.28731132e-03],
       [2.40374476e-07],
       [8.09635941e-13],
       [4.00182605e-02],
       [1.90977216e-01],
       [9.83286738e-01],
       [1.13445938e-01],
       [3.91713232e-01],
       [1.00000000e+00],
       [1.00620866e-01],
       [5.82635403e-04],
       [3.26613784e-02],
       [2.21272008e-25],
       [2.23201641e-05],
       [1.00000000e+00],
       [1.16643310e-03],
       [2.93630342e-09],
       [0.00000000e+00],
       [1.00000000e+00],
       [1.32559031e-01],
       [1.00000000e+00],
       [4.74742055e-02],
       [1.95521057e-01],
       [1.00000000e+00],
       [9.78946894e-15],
       [1.00000000e+00],
       [9.90957022e-01],
       [1.00000000e+00],
       [6.70820475e-04],
       [2.87446096e-06],
       [8.90407748e-09],
       [9.97076035e-02],
       [9.86062288e-01],
       [9.94591713e-02],
       [1.00000000e+00],
       [7.54799247e-01],
       [8.34499598e-02],
       [1.00000000e+00],
       [4.65561748e-02],
       [8.34492445e-02],
       [2.18985856e-01]], dtype=float32)

In [29]:
A=[]
for i in range(418):
    A.append([int(i)])

In [30]:
A=np.array(A)

In [31]:
A.shape

(418, 1)

In [32]:
Ans=np.stack((A,Y_pred),axis=-1)

In [33]:
np.save("text",Ans)